In [2]:
import pandas as pd
df = pd.read_csv('/content/nyc_weather.csv')
df

          EST  Temperature  DewPoint  ...    Events  WindDirDegrees  Unnamed: 11
0    1/1/2016           38        23  ...       NaN             281          NaN
1    1/2/2016           36        18  ...       NaN             275          NaN
2    1/3/2016           40        21  ...       NaN             277          NaN
3    1/4/2016           25         9  ...       NaN             345          NaN
4    1/5/2016           20        -3  ...       NaN             333          NaN
5    1/6/2016           33         4  ...       NaN             259          NaN
6    1/7/2016           39        11  ...       NaN             293          NaN
7    1/8/2016           39        29  ...       NaN              79          NaN
8    1/9/2016           44        38  ...      Rain              76          NaN
9   1/10/2016           50        46  ...      Rain             109          NaN
10  1/11/2016           33         8  ...       NaN             289          NaN
11  1/12/2016           35        15  ...       NaN             235          NaN
12  1/13/2016           26         4  ...       NaN             284          NaN
13  1/14/2016           30        12  ...       NaN             266          NaN
14  1/15/2016           43        31  ...       NaN             101          NaN
15  1/16/2016           47        37  ...      Rain             340          NaN
16  1/17/2016           36        23  ...  Fog-Snow             345          NaN
17  1/18/2016           25         6  ...      Snow             293          NaN
18  1/19/2016           22         3  ...       NaN             293          NaN
19  1/20/2016           32        15  ...       NaN             302          NaN
20  1/21/2016           31        11  ...       NaN             312          NaN
21  1/22/2016           26         6  ...      Snow              34          NaN
22  1/23/2016           26        21  ...  Fog-Snow              42          NaN
23  1/24/2016           28        11  ...      Snow             327          NaN
24  1/25/2016           34        18  ...       NaN             286          NaN
25  1/26/2016           43        29  ...       NaN             244          NaN
26  1/27/2016           41        22  ...      Rain             311          NaN
27  1/28/2016           37        20  ...       NaN             234          NaN
28  1/29/2016           36        21  ...       NaN             298          NaN
29  1/30/2016           34        16  ...       NaN             257          NaN
30  1/31/2016           46        28  ...       NaN             241          NaN

[31 rows x 12 columns]

In [3]:
df['Temperature'].max()

50

In [4]:
df['EST'][df['Events']=='Rain']

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [5]:
df.fillna(0, inplace=True)
df['WindSpeedMPH'].mean()

6.225806451612903